
{{#each surveys}}
  <div class="imageImage">
    <div class="col-md-4">
      <h1>Title: {{title}}</h1>
    </div>
    <div class="col-md-4">
      <h4>Question: {{question}}</h4>
    </div>
    <div class="col-md-4">
      <h3 id="surveyId">{{_id}}</h3>
    </div>

  </div>

{{/each}}
